@font-face {
    font-family: "Risque";
    src: url('https://fonts.googleapis.com/css?family=Risque');
}
@font-face {
    font-family: "Anton";
    src: url('https://fonts.googleapis.com/css?family=Anton');
}

.albumCover {
    background-image: url("images/AlbumCover.jpeg");
    background-size: 100% 100%;
    display: block;
    margin: auto;
    width: 350px;
    height: 350px;
}
#albumName {
    font-family: "Risque", cursive;
    font-style: italic;
}
#members {
    font-family: "Anton", sans-serif;
}
.center {
    margin: auto;
    width: 50%;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

caption {
    text-align: center;
    font-weight: bold;
    font-size: 1.50em;
}

th, td {
    padding: 10px;
    text-align: center;
    width: 300px;
}

thead th {
    color: white;
    background-color: #3d3d3e;
}

tbody td {
    font-style: italic;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    background-color: #1f427a;
    color: white;
}

p {
    text-align: justify;
}